body
{
background-image:url("lime.jpg");
background-repeat:no-repeat;
}
table
{
text-align:center;
padding:30px;
}
.but
{
width:105px; 
height:40px;
}
.but2
{
position:relative;
left:33px;
}
.cutie
{
width:105px; 
height:20px;
}
p
{
font-size:60px;
font-weight:900;
line-height:0%;
}
.information
{
position:relative;
left:33px;
font-size:12px;
font-weight:900;
line-height:50%;
}